/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/settings';
@import 'base/mixins';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/

@import 'parts/reviews';
@import 'parts/scheme';
@import 'parts/questions';
@import 'parts/contacts';
@import 'parts/footer';
@import 'parts/popup';

section:not(.offer) {
    padding: 75px 0; 
    @include m750 {
        padding: 40px 0; 
    }
}

h1 {
    color: #FFF; 
    font: 40px $rr;
    text-transform: uppercase; 
    span {
        color: $blue; 
        font-family: $rm; 
    }
    @include m1000 {
        font-size: 36px; 
    }
    @include m750 {
        font-size: 32px; 
        br {
            display: none
        }
    }
    @include m600 {
        font-size: 28px; 
    }
}
.heading {
    color: #FFF;
    font-size: 32px; 
    span {
        color: $blue; 
        font-family: $rm; 
    }
    @include m1000 {
        font-size: 28px; 
    }
    @include m750 {
        font-size: 24px; 
    }
    @include m600 {
        font-size: 20px; 
    }
}
h2 {
    font: 40px $rm; 
    @include m1000 {
        font-size: 32px; 
    }
    @include m750 {
        font-size: 28px; 
    }
    @include m600 {
        font-size: 24px; 
    }
}

.aboutInfo__item__img,
.tel:before,
.tabs__item__info ul li:before,
.inputWrap:before {
    background-image: url("../images/icons_1.png")
}
.icon-ab-1 { background-position: -10px -0px; width: 70px; height: 68px; }
.icon-ab-2 { background-position: -10px -78px; width: 70px; height: 68px; }
.icon-ab-3 { background-position: -10px -156px; width: 62px; height: 70px; }
.icon-ab-4 { background-position: -10px -236px; width: 34px; height: 70px; }
.icon-shield { background-position: -10px -316px; width: 28px; height: 30px; }
.icon-check { background-position: -48px -316px; width: 18px; height: 18px; }
.icon-person { background-position: -48px -344px; width: 17px; height: 19px; }
.icon-tel { background-position: -54px -236px; width: 11px; height: 19px; }


/*=====================================================================================*/
/*  HEADER STYLES  */ 
         
header {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0px;
    @include transition(all, .4s);
    .wrapper {
        width: 1280px;
        @include flex();
    }
    
        /*.................media.............*/
        @include m1300 {
            .wrapper {
                width: 100%; 
                padding: 0 10px; 
            }
        }
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0, .4) ;
            box-shadow: 0 0 10px rgba(0,0,0, .4) ;
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 40px 0;
            z-index: 100;
             
            &.active { left: 0;}
            .wrapper {
                   display: block;
                   width: 100%;
            }
        }
        /*.............end media..............*/

}

.logo,
.contactUs {
    width: 210px; 
}

/* ------------------------------------ */
/*  NAV STYLES  */

nav {
    ul {
        list-style-type: none;
        margin: 0; 
        @include flex();
        a {
            display: inline-block;
            margin: 0 20px;
            color: #fff; 
            text-decoration: none;
            line-height: 65px;
            border-top: 2px solid transparent;  
            text-transform: uppercase;
            font-size: 17px; 
            @include transition(all, .2s);             
            &:hover  {border-top: 2px solid $blue;}
        }

        /*.................media.............*/
        @include m1300 {
            a {
                margin: 0 10px;
                font-size: 16px;  
            }
        }
        @include m1100 {
            a {
                font-size: 14px;  
            }
        }
        /*.................media.............*/
        @include m1000 { 
            display: block;
            height: 100%;
            overflow: scroll;
            position: relative;
            margin: 40px auto; 
            li a  {   
                margin: 0 0 20px 0;
                line-height: 35px;
                border-top: 2px solid transparent;  
                text-transform: uppercase;
                color: #333; 
                font-size: 16px; 
                &.active {font-weight: 700 }
                &:hover  {border-top: 2px solid $blue;}
            } 
        }
        /*.............end media.............*/
    }
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 10px, 7px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $blue;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    height: 740px;
    background: url('../images/offerBg.jpg') no-repeat center center;
    background-size: cover;
    padding: 200px 0 0 0;
    position: relative;
    
    @include m1000 {
        height: auto;
        padding: 0;  
    }

    .wrapper {
        height: 100%;
        @include flex($alignI: center, $justify: center, $direction: column);
        z-index: 2;
        position: relative;
        text-align: center;
        @include m1000 {
            padding: 120px 10px 80px;   
        }
    }
    
    .blueInfo {
        margin-top: 75px;
        color: $blue;  
        margin-bottom: 180px; 
        font: 32px $rm; 
        @include m1000 {
            font-size: 28px; 
        }
        @include m750 {
            font-size: 24px; 
        }
        @include m600 {
            font-size: 18px; 
        }
    }
    .subTitle {
        margin-top: 30px; 
        color: #FFF; 
        font: 32px $rr; 
        @include m1000 {
            font-size: 28px; 
        }
        @include m750 {
            font-size: 24px; 
        }
        @include m600 {
            font-size: 18px; 
        }
    }

    .offerForm {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        margin: auto; 
        width: 745px;
        padding: 35px;
        background-color: rgba(0,0,0, .8);   
        @include flex();
        p {
            width: 430px;
            color: #FFF; 
            text-align: left;
            font: 19px $rm; 
        }
        @include m800 {
            width: 100%;
            display: block;
            p {
                width: 100%; 
                text-align: center;
                margin-bottom: 20px; 
            }  
        }
        @include m600 {
            padding: 15px;   
        }
    }
}

.logo {
    span {
        font: 32px $bsb;
        text-transform: uppercase;
        color: $blue;
        i {
            margin-left: 4px; 
        }  
    }
    @include m1100 {
        width: 100%; 
    }
}

.contactUs  {
    text-align: right;
    color: #FFF; 
    .tel {
        font:  21px $rm;
        color: #FFF; 
        &:before {
            width: 11px;
            height: 19px;
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px; 
            background-position: -54px -236px;   
            margin-top: -4px; 
        }
    }
    .order {
        color: $blue;
        font: 19px $rm;
        border-bottom: 1px dashed $blue;  
    }
    @include m1100 {
        color: #333; 
        text-align: center;
        width: 100%; 
        .tel { 
            font-size: 18px;
            color: #333; 
        }
        .order {
            font-size: 16px;
        }
    }
}

/*=====================================================================================*/
/*  About STYLES  */ 
.about {
    .wrapper {
        width: 800px;
        @include m800 {
            width: 100%;  
        }
    }
}
.aboutInfo {
    @include flex($justify: space-around, $wrap: wrap);
    margin-top: 50px; 
    &__item {
        width: 50%;
        margin: 0 0px 60px;
        &__img {
            display: block;
            height: 70px; width: 70px; 
            margin: 0 auto 20px; 
            img {
                max-height: 100%;
                max-width: 70px;  
            } 
        } 
        span {
            display: inline-block;
            width: 280px; 
            font: 21px $rr; 
            b {
                font-family: $rm; 
            }
        }
        &:nth-of-type(1){
            .aboutInfo__item__img {
                background-position: -10px -0px;
            }
        }
        &:nth-of-type(2){
           .aboutInfo__item__img  {
                background-position: -10px -78px;
           }
        }
        &:nth-of-type(3){
           .aboutInfo__item__img  {
                background-position: -10px -156px;
           }
        }
        &:nth-of-type(4){
            .aboutInfo__item__img {
                width: 40px; 
                background-position: -10px -236px;
            }
        }
    }
    @include m600 {
        &__item {
            width: 100%; 
        } 
    }
}



/*=====================================================================================*/
/*  Why STYLES  */ 

.why {
    background: url('../images/whyBg.jpg') no-repeat center center;
    background-size: cover;
    .wrapper {
        position: relative;
        @extend %clearfix;
        width: 940px; 
        @include m1000 {
            width: 100%;  
        }
        &:before {
            content: "";
            width: 2px;
            display: block;
            background-color: rgba(255,255,255, .3);
            left: 0; right: 0;
            margin: auto;
            top: 0;  
            position: absolute;
            height: 100%;   
        }
        @include m750 {
            &:before {
                display: none;
            } 
        }
    
        ul {
            width: 50%;
            float: left;
            padding: 0 40px;
            list-style-type: none;
            h3 {
                text-align: center;
                color: #FFF;
                font: 28px $rm;  
                margin-bottom: 23px; 
            }
            li {
                text-align: left;
                color: #FFF;
                font: 19px $rr;  
                border-left: 5px solid $blue;
                padding-left: 15px;  
                margin-bottom: 28px; 
            }
            @include m1000 {
               padding: 0 20px; 
               h3 {
                   font-size: 26px; 
               }
               li {
                   font-size: 18px; 
               }
            }
            @include m750 {
                width: 100%;
                padding: 0 0; 
                margin-bottom: 40px  
            }
        }
    }
}

.button {
    background-color: $blue;
    height: 40px;
    text-align: center;
    color: #FFF;
    padding: 0 18px;
    border: none;
    position: relative;
    overflow: hidden;
    span {
        z-index: 20;
        color: #FFF;
        margin-bottom: 0 !important;  
      }
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px; 
        border-radius: 4px;
     &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .4;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 0;
      }
    &--wide {
        min-width: 260px; 
    }     
    &:hover {
        &:after {
            left: 120%;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
          }
    }
}

/*=====================================================================================*/
/*  advantage STYLES  */ 

.advantage {
    background: url('../images/blueBg.jpg') no-repeat center center;
    background-size: cover;
    h2,
    p {
        color: #FFF; 
        font-size: 32px;  
    }
    h2 {
        text-transform: uppercase;
    }
    p {
        margin-top: 30px;
        font-size: 32px; 

        @media ($phones) {
            font-size: 22px;
        }
    }
    @include m750 {
       h2, p {
           font-size: 26px; 
       }
    }
    @include m600 {
       h2, p {
           font-size: 22px; 
       }
    }
    @include m500 {
       h2, p {
           font-size: 20px; 
       }
    }
}


/*=====================================================================================*/
/*  advantage STYLES  */ 

.options {
     background: url('../images/optionsBg.jpg') no-repeat center center;
    background-size: cover;
}
.repairOptions {
    @include flex($justify: space-around, $wrap: wrap, $alignI: flex-start);
    margin-top: 55px; 
    &__item {
        width: 280px;

        @media ($tablets) {
            margin: 0 10px 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            height: 175px; 
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%; 
                display: block;
            }
            .more {
                position: absolute;
                left: 0; right: 0;
                bottom: 0; top: 0;
                margin: auto;
                width: 140px;
                height: 35px;  
                opacity: 0; 
                border: 2px solid #fff; 
                @include transition(all, .2s); 
                background: transparent; 
                color: #FFF; 
                font: 19px $rr;
                z-index: 2;  
                padding-bottom: 4px; 
            } 
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute; 
                left: 0;
                top: 0; 
                background-color: rgba(0,0,0, .5);   
                opacity: 0; 
                @include transition(all, .2s);
            }
        } 
        span {
            display: inline-block;
            margin-bottom: 15px; 
        }
        &:hover {
            .repairOptions__item__img {
                .more {
                    opacity: 1; 
                }
                &:after {
                    opacity: 1; 
                }
            }
        }

        @include m1000 {
            margin-bottom: 30px;   
        }
    }
}


/*=====================================================================================*/
/*  why profitable STYLES  */ 

.whyProfitable {
    background: url('../images/profitable.jpg') no-repeat center center;
    background-size: cover;
    .wrapper {
        width: 940px; 
        
        @include m1000 {
            width: 100%;  
        }

        @media (max-width: 1200px) {
            width: 100%;
            padding: 0 30px;
        }

        @media  ($phones) {
            padding: 0 20px;
        }
    }
    ul {
        margin-top: 45px; 
        list-style-type: none; 
        h3 {
            text-align: left;
            color: #FFF;
            font: 28px $rm;  
            margin-bottom: 23px; 
        }
        li {
            text-align: left;
            color: #FFF;
            font: 19px $rr;  
            border-left: 5px solid $blue;
            padding-left: 25px;  
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


/*=====================================================================================*/
/*  TABS STYLES  */ 

.tabsChange {
    list-style-type: none;
    li {
        display: inline-block;
        font: 21px $rm;
        color: $blue;
        cursor: pointer;
        &.active {
            color: #333; 
        }  
        &:after {
            content: "/";
            display: inline-block;
            margin: 0 10px;  
        }
        &:last-of-type:after {
            display: none;
        }
        @include m600 {
            width: 100%;  
            text-align: center;
            &:after {
                display: none;
            }
        }
        @include m360 {
            font-size: 18px; 
            border: 1px solid rgba(0,0,0, .2);
            -webkit-border-radius: 10px; 
             border-radius: 10px;  
            margin: 7px 0;
            padding: 5px 0 7px;
            -webkit-box-shadow: 0 0 8px rgba(0,0,0, .2); 
              box-shadow: 0 0 8px rgba(0,0,0, .2);   
        }
    }
}
.tabs {
    margin-top: 40px; 
    .tabs__item {
        @extend %clearfix;
        display: none;
        &__slide {
            @extend %clearfix;
        }
        &.active {
            display: block;
        }
        &__img,
        &__info {
            float: left;
            width: 50%; 

            @media (max-width: 800px) {
                float: none;
            }
        }
        &__img {
            border: 4px solid #fff; 
            box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.15);

            @media (max-width: 800px) {
                width: 100%;
                display: block;
                margin: 0 auto 30px;
            }

            @media (max-width: 420px) {
                width: 100%;
            }

            img {
                width: 100%;
                display: block;
            }
        }

        &__info {
            padding-left: 20px; 
            text-align: left;

            @media (max-width: 800px) {
                padding-left: 0;
                width: 100%;
            }
            .title {
                margin-bottom: 20px;
                display: inline-block;
                font: 28px $rm;  

                @media (max-width: 800px) {
                    font-size: 24px;
                }
            }
            ul {
                margin: 0; 
                list-style-type: none;
                li {
                    position: relative;
                    padding-left: 31px;
                    color: #333;
                    font-size: 19px;
                    margin-bottom: 10px;  

                    @media (max-width: 800px) {
                        font-size: 16px;
                    }
                    span {
                        font-family: $rm; 
                    } 
                    &:before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;  
                        background-position: -48px -316px;
                        position: absolute;
                        top: 4px; left: 0; 
                    } 
                }
            }
        }
        &__slide {
            padding: 10px; 
            ul {
                li {
                    &:before {
                        background: none;
                        width: 10px;
                        height: 10px;
                        background-color: $blue;
                        -webkit-border-radius: 50%; 
                           border-radius: 50%;    
                    }
                }
            }
        }
    }
}
.slick-slider {
    margin: 0 auto 50px; 
}
.slick-dots {
    margin: 20px auto 0px; 
    position: static;
    li {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%; 
        border-radius: 50%; 
        border: 3px solid #5EC7F8;
        &.slick-active {
            border: 3px solid $blue;
        }   
        button {
            display: none;
        }
    }
}


/*=====================================================================================*/
/*  FORM SECTION STYLES  */ 

.formSec {
    background: url('../images/formBg.jpg') no-repeat center center;
    background-size: cover;
    form {
        margin-top: 60px; 
        width: 840px; 

        @media ($tablets) {
            width: 100%;
        }
    }
}

form {
    @include flex();
    margin: 0 auto; 

    @media (max-width: 840px) {
        display: block;
    }

    .inputWrap {
        display: inline-block;
        background-repeat: no-repeat;
        position: relative;

        @media (max-width: 840px) {
            display: block;
            margin: 0 auto 20px;
            width: 260px;
        }
        &:before {
            width: 17px;
            height: 19px;
            content: "";  
            background-repeat: no-repeat;
            position: absolute;
            top: 12px;
            left: 12px;
            display: block;  
        }
        &:after {
            width: 1px;
            height: 30px;
            content: "";  
            position: absolute;
            top: 7px;
            left: 36px;
            background-color: #FFF; 
            display: block;  
        }
        &--tel {
            &:before {
                background-position: -54px -236px;
            }
        }
        &--name {
            &:before {
                background-position: -48px -344px;
            }
        }
    }
    input {
        width: 260px;
        border: 1px solid #fff;
        background: transparent;
        color: #FFF;  
        height: 45px;
        padding-left: 50px;  
        -webkit-border-radius: 4px; 
        border-radius: 4px; 
        font: 17px $rr; 
    }
    .button {
        height: 45px; 
    }
}
