.reviews {
	background-image: url(../images/questionsBg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.reviews__slider {
	padding: 0 110px;
	margin: 55px 0 0!important;

	@media (max-width: 1200px) {
		padding: 0 70px;
	}

	@media (max-width: 600px) {
		padding: 0 30px;
	}

	.slide {
		@extend %clearfix;
	}

	.preview {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow-x: hidden;
		margin-right: 15px;
		float: left;

		@media (max-width: 600px) {
			display: block;
			margin: 0 auto 20px;
			float: none;
		}
	}

	.text {
		width: -webkit-calc(100% - 95px);
		width: calc(100% - 95px);
		float: right;
		padding-right: 30px;
		text-align: left;

		@media (max-width: 900px) {
			padding-right: 15px;
		}

		@media (max-width: 600px) {
			width: 100%;
			padding: 0 10px;
			text-align: center;
			float: none;
		}

		.title {
			font-family: $rm;
			font-size: 21px;
		}

		p {
			font-size: 19px;

			@media (max-width: 1200px) {
				font-size: 16px;
			}
		}
	}
}
.slick-prev {
	left: 25px;
	border-top: 2px solid $blue;
	border-left: 2px solid $blue;
	@include transform(rotate(-45deg));

	@media (max-width: 600px) {
		left: 0;
	}
}
.slick-next {
	right: 25px;
	border-top: 2px solid $blue;
	border-right: 2px solid $blue;
	@include transform(rotate(45deg));

	@media (max-width: 600px) {
		right: 0;
	}
}
.slick-arrow {
	width: 28px;
	height: 28px;
	margin-top: -35px;

	&:before,
	&:after {
		content: '';
	}
}