// COLORS
// ---------------------------
$blue : #19aff5;

// FONTS
// ---------------------------
$rr: 'rr';
$rm: 'rm';
$rb: 'rb';

$bsb: 'bsb';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html, body                    	{   height: 100%; font-family: $rr;}
p                             	{   font-family: $rr; color: #333; }
h1, h2, h3, h4, h5         	    {   font-family: $rm; color: #333;  }
span                            {	color: #333;}
.white                          {	color: #FFF;}




// lAYOUT
// ---------------------------

.wrapper                      	{   width: 1140px;
								   	margin: 0 auto;
                                   	text-align: center;
                              	}
header 							{}
aside 							{}
main 							{}
footer 							{}